    <!-- Masthead-->
      <header class="masthead" style="background-image: url(assets/img/header-bg.png);">
        <div >
            <div class="masthead-subheading">Dobrodošli</div>
            <div class="masthead-heading text-uppercase">Do posla bez ikakvog stresa</div>
            <section class = "page-section" style="padding: 0;">
                <div class=" col-sm-4 mx-auto" style="padding-top: 0;">
                     <a><img  class=" img-fluid img-responsive "src="assets/img/navbar-logo.png" alt="..."> </a>
                </div>
            </section>
        </div>
    </header>
     <!-- Services-->
     <section class="page-section" id="#!services">
        <div class="container">
            <div class="text-center">
                <h2 class="section-heading text-uppercase">Usluge</h2>
                <h3 class="section-subheading text-muted">“To keep a customer demands as much skill as to win one.”<br>–American Proverb </h3>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <fa-icon [icon]="faSquare" class = "fas fa-stack-2x text-primary fa-2xl" ></fa-icon>
                        <fa-icon [icon]="faBriefcase" class ="fa-stack-1x fa-inverse mt-3"></fa-icon>
                    </span>
                    <h4 class="my-3">Pronalaženje posla u struci.</h4>
                    <p class="text-muted">Olakšan pristup novim poslovima, radnim iskustvima u IT sektoru. Takođe olakšano pronalaženje zaposlenih za vaše poslove.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <fa-icon [icon]="faSquare" class = "fas fa-stack-2x text-primary  fa-2xl" ></fa-icon>
                        <fa-icon [icon]="faChalkboardUser" class ="fa-stack-1x fa-inverse mt-3"></fa-icon> 
                    </span>
                    <h4 class="my-3">Jednostavan nacin postavljanja i pretrage oglasa.</h4>
                    <p class="text-muted">Jednostavno postavljanje oglasa uz jednostavnu formu, kao i pretraga istih uz pomoću filtera pretrage.</p>
                </div>
                <div class="col-md-4 text-center">
                    <span class="fa-stack fa-4x">
                        <fa-icon [icon]="faSquare" class = "fas fa-stack-2x text-primary  fa-2xl" ></fa-icon>
                        <fa-icon [icon]="faEnvelope" class ="fa-stack-1x fa-inverse mt-3"></fa-icon>
                    </span>
                    <h4 class="my-3">Direktna komunikacija između korisnika</h4>
                    <p class="text-muted">Interna komunikacija je obezbeđena za korisnike nase aplikacije.</p>
                </div>
            </div>
        </div>
    </section>
   <!-- About-->
   <section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">O projektu</h2>
            <h3 class="section-subheading text-muted"></h3>
        </div>
        <ul class="timeline">
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/1.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>01.03.2022</h4>
                        <h4 class="subheading">Stvaranje naše ideje</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Datum za koji vezujemo nastanka ideje o našoj aplikaciji, nakog dugog razmatranja upustili smo se razvijanje platforme koja će pomoći domaćim firmama i radnicima iz IT sektora.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/2.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>06.04.2022</h4>
                        <h4 class="subheading">Projekat DvlHub je zvaničan</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Ovog datuma zvanicno krece početna faza razvoja našeg ambicioznog projekta.</p></div>
                </div>
            </li>
            <li>
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/3.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>12.04.2022.</h4>
                        <h4 class="subheading">Development kreće ubrzanim tempom</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Nakon definisanja okvira, zahteva i ograničenja projekta, usledio je sledeći korak u razvoju, kodiranje. Što je u timu probudilo entuzijazam i želju za radom. </p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image"><img class="rounded-circle img-fluid" src="assets/img/about/4.jpg" alt="..." /></div>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>25.06.2022.</h4>
                        <h4 class="subheading">DvlHub je online</h4>
                    </div>
                    <div class="timeline-body"><p class="text-muted">Nakon marljivog rada, naš tim je uspeo da zavrsi i plasira DvlHub aplikaciju i ostvari svoju viziju.</p></div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Budite
                        <br />
                        deo nase
                        <br />
                        priče!
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>
<!-- Team-->
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Naš development tim</h2>
            <h3 class="section-subheading text-muted">“Great things in business are never done by one person,They are done by a team of people” <br>-Steve Jobs. </h3>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/1.jpg" alt="..." />
                    <h4>Stefan Stanimirović</h4>
                    <p class="text-muted">Vođa tima</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/steff.019/" aria-label="Stefan Stanimirović Instagram Profile"><fa-icon [icon]="faInstagram" class ="fa-inverse"></fa-icon></a>
                </div>
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/2.jpg" alt="..." />
                    <h4>Marko Stojilović</h4>
                    <p class="text-muted">Fullstack developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/marko_stojilovic/" aria-label="Marko Stojilović Instagram Profile"><fa-icon [icon]="faInstagram" class ="fa-inverse"></fa-icon></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/3.jpg" alt="..." />
                    <h4>Jovana Stepanović</h4>
                    <p class="text-muted">Fullstack developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/jovanas17/" aria-label="Jovana Stepanović Instagram Profile"><fa-icon [icon]="faInstagram" class ="fa-inverse"></fa-icon></a>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="assets/img/team/4.jpg" alt="..." />
                    <h4>Nikola Stevanović</h4>
                    <p class="text-muted">Fullstack developer</p>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.instagram.com/nikola_stevanovic/" aria-label="Nikola Stevanović Instagram Profile"><fa-icon [icon]="faInstagram" class ="fa-inverse"></fa-icon></a>
                </div>
            </div>
        </div>     
    </div>
</section>

 
